commands:
  01_install_geos:
    command: |
      sudo wget ##YOUR_PUBLIC_S3_URL##/geos-3.6.4.tar.gz
      sudo mkdir -p /usr/local/geos
      sudo tar -xvf geos-3.6.4.tar.gz -C /usr/local/geos
      sudo rm -f geos-3.6.4.tar.gz
    test: "[ ! -d /usr/local/geos ]"

  02_install_proj4:
    command: |
      sudo wget ##YOUR_PUBLIC_S3_URL##/proj4-5.2.0.tar.gz
      sudo mkdir -p /usr/local/proj4
      sudo tar -xvf proj4-5.2.0.tar.gz -C /usr/local/proj4
      sudo rm -f proj4-5.2.0.tar.gz
    test: "[ ! -d /usr/local/proj4 ]"

  03_install_gdal:
    command: |
      sudo wget ##YOUR_PUBLIC_S3_URL##/gdal-2.4.4.tar.gz
      sudo mkdir -p /usr/local/gdal
      sudo tar -xvf gdal-2.4.4.tar.gz -C /usr/local/gdal
      sudo rm -f gdal-2.4.4.tar.gz
    test: "[ ! -d /usr/local/gdal ]"



... other ebextension settings ...


option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "./"
    PATH: /usr/local/gdal/bin:$PATH
    LD_LIBRARY_PATH: /usr/local/proj4/lib:/usr/local/geos/lib:/usr/local/gdal/lib:$LD_LIBRARY_PATH
    GDAL_LIBRARY_PATH: /usr/local/gdal/lib/libgdal.so
  
  ... other options ...